html,
body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0.05;
  background: url("./logo.svg");
  background-size: 128px;
  transform: scale(2);
  animation: slide 30s linear infinite;
  pointer-events: none;
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -512px -1024px;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2424c4;
  width: 100%;
  max-width: 100%;
}
